.hide {
  display: none;
}

/* NON-FSHARE PAGE*/
.fshare-tool-popover-title {
  display: none;
}

.fshare-tool-popover .fshare-tool-popover-container  {
  z-index: 999;
}

.fshare-tool-popover .fshare-tool-popover-container .fshare-tool-popover-inner .fshare-tool-popover-content {
  display: flex;
  padding: 5px 15px;
  flex-direction: column;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper {
  display: flex;
  align-items: center;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper .link-description {
  color: #146152;
  font-size: 17px;
  font-family: arial;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper .fshare-fshare-tool-popover-btn {
  color: #fff;
  text-decoration: none;
  margin: 5px 5px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Arial';
  cursor: pointer;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper .fshare-fshare-tool-popover-btn.play {
  background: #44803F;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper .fshare-fshare-tool-popover-btn.download {
  background: #146152;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper .fshare-fshare-tool-popover-btn.copy-direct-link {
  background: #861313;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper .fshare-fshare-tool-popover-btn.open {
  background: #FF5A33;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper .fshare-fshare-tool-popover-btn.share-lan-link {
  background: #801eaa;
}

/* FSHARE FILE PAGE */
#fshare-file-actions {
  width: auto;
  max-width: 800px;
}

#fshare-file-actions ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#fshare-file-actions ul li {
  color: #fff;
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 15px;
  border-radius: 4px;
  font-family: 'Arial';
  cursor: pointer;
}

#fshare-file-actions ul li.download {
  background: #FF5A33;
}

#fshare-file-actions ul li.play {
  background: #44803F;
}

#fshare-file-actions ul li.copy-direct-link {
  background: #861313;
}

#fshare-file-actions ul li.share-lan-link {
  background: #801eaa;
}

/* FSHARE FOLDER PAGE */
#fshare-tool-folder-wrapper #navigation {
  padding: 0 25px;
  display: flex;
  list-style: none;
}
#fshare-tool-folder-wrapper #navigation .nav-item {
  padding: 10px;
  background: #146152;
  border-radius: 4px;
  margin-right: 5px;
}

#fshare-tool-folder-wrapper #navigation .nav-item:last-child {
  background: #FF5A33;
}

#fshare-tool-folder-wrapper #navigation .nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#fshare-tool-folder-wrapper #main-content {
  padding: 25px;
}

.fshare-folder-action {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.fshare-folder-action ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fshare-folder-action ul li {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #cd1417;
  border-radius: 2px;
  margin-left: 5px;
  box-sizing: border-box;
  height: 30px;
  padding: 8px 15px;
  text-align: center;
}

.fshare-folder-action ul li.open{
  background: #FF5A33;
}

.fshare-folder-action ul li.play-in-vlc{
  width: 100px;
  background: #44803F;

}
.fshare-folder-action ul li.add-to-vlc {
  width: 100px;
  background: #146152;
}

.fshare-folder-action ul li a {
  text-decoration: none;
  color: #fff;
}