.folder-action {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.folder-action ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.folder-action ul li {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #cd1417;
  border-radius: 2px;
  margin-left: 5px;
  box-sizing: border-box;
  height: 30px;
  padding: 8px 15px;
  text-align: center;
}

.folder-action ul li.open{
  background: #FF5A33;
}

.folder-action ul li.play-in-vlc{
  width: 100px;
  background: #44803F;

}
.folder-action ul li.add-to-vlc {
  width: 100px;
  background: #146152;
}

.folder-action ul li a {
  text-decoration: none;
  color: #fff;
}

#fshare-tool-hooker #navigation {
  padding: 0 25px;
  display: flex;
  list-style: none;
}
#fshare-tool-hooker #navigation .nav-item {
  padding: 10px;
  background: #146152;
  border-radius: 4px;
  margin-right: 5px;
}

#fshare-tool-hooker #navigation .nav-item:last-child {
  background: #FF5A33;
}

#fshare-tool-hooker #navigation .nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#fshare-tool-hooker #main-content {
  padding: 25px;
}

.popover-title {
  display: none;
}

.popover .popover-container .popover-inner .popover-content {
  display: flex;
  padding: 5px;
}

.popover-content .fshare-popover-btn {
  color: #fff;
  text-decoration: none;
  margin: 5px 5px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Arial';
}

.popover-content .fshare-popover-btn.play {
  background: #44803F;
}

.popover-content .fshare-popover-btn.download {
  background: #146152;
}

.popover-content .fshare-popover-btn.open {
  background: #FF5A33;
}

