- if notice || alert
  .container-xl.mt-3
    .page-header.d-print-none
      .row.g-2.align-items-center
        .col
          - if notice
            .alert.alert-important.alert-success.alert-dismissible{:role => "alert"}
              .d-flex
                %div
                %div
                  = notice
              %a.btn-close.btn-close-white{"aria-label" => "close", "data-bs-dismiss" => "alert"}
          - if alert
            .alert.alert-important.alert-danger.alert-dismissible{:role => "alert"}
              .d-flex
                %div
                %div
                  = alert
              %a.btn-close.btn-close-white{"aria-label" => "close", "data-bs-dismiss" => "alert"}
