%header.navbar.navbar-expand-md.navbar-light.d-print-none
  .container-xl
    %button.navbar-toggler{"data-bs-target" => "#navbar-menu", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %h1.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pe-0.pe-md-3.logo
      %a{:href => "."}
        %img.navbar-brand-image{:alt => "Tabler", :height => "32", :src => "logo.png", :width => "110"}/
        Fshare Tool
    .navbar-nav.flex-row.order-md-last
      .d-none.d-md-flex
        %a.nav-link.px-0.hide-theme-dark{"data-bs-placement" => "bottom", "data-bs-toggle" => "tooltip", :href => "?theme=dark", :title => "Enable dark mode"}
          / Download SVG icon from http://tabler-icons.io/i/moon
          %svg.icon{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M0 0h24v24H0z", :fill => "none", :stroke => "none"}
            %path{:d => "M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"}
        %a.nav-link.px-0.hide-theme-light{"data-bs-placement" => "bottom", "data-bs-toggle" => "tooltip", :href => "?theme=light", :title => "Enable light mode"}
          / Download SVG icon from http://tabler-icons.io/i/sun
          %svg.icon{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M0 0h24v24H0z", :fill => "none", :stroke => "none"}
            %circle{:cx => "12", :cy => "12", :r => "4"}
            %path{:d => "M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"}
        .nav-item.dropdown.d-none.d-md-flex.me-3
          %a.nav-link.px-0{"aria-label" => "Show notifications", "data-bs-toggle" => "dropdown", :href => "#", :tabindex => "-1"}
            / Download SVG icon from http://tabler-icons.io/i/bell
            %svg.icon{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M0 0h24v24H0z", :fill => "none", :stroke => "none"}
              %path{:d => "M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"}
              %path{:d => "M9 17v1a3 3 0 0 0 6 0v-1"}
            %span.badge.bg-red
          .dropdown-menu.dropdown-menu-arrow.dropdown-menu-end.dropdown-menu-card
            .card
              .card-header
                %h3.card-title Last updates
              .list-group.list-group-flush.list-group-hoverable
                .list-group-item
                  .row.align-items-center
                    .col-auto
                      %span.status-dot.status-dot-animated.bg-red.d-block
                    .col.text-truncate
                      %a.text-body.d-block{:href => "#"} Example 1
                      .d-block.text-muted.text-truncate.mt-n1
                        Change deprecated html tags to text decoration classes (#29604)
                    .col-auto
                      %a.list-group-item-actions{:href => "#"}
                        / Download SVG icon from http://tabler-icons.io/i/star
                        %svg.icon.text-muted{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                          %path{:d => "M0 0h24v24H0z", :fill => "none", :stroke => "none"}
                          %path{:d => "M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"}
                .list-group-item
                  .row.align-items-center
                    .col-auto
                      %span.status-dot.d-block
                    .col.text-truncate
                      %a.text-body.d-block{:href => "#"} Example 2
                      .d-block.text-muted.text-truncate.mt-n1
                        justify-content:between ⇒ justify-content:space-between (#29734)
                    .col-auto
                      %a.list-group-item-actions.show{:href => "#"}
                        / Download SVG icon from http://tabler-icons.io/i/star
                        %svg.icon.text-yellow{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                          %path{:d => "M0 0h24v24H0z", :fill => "none", :stroke => "none"}
                          %path{:d => "M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"}
                .list-group-item
                  .row.align-items-center
                    .col-auto
                      %span.status-dot.d-block
                    .col.text-truncate
                      %a.text-body.d-block{:href => "#"} Example 3
                      .d-block.text-muted.text-truncate.mt-n1
                        Update change-version.js (#29736)
                    .col-auto
                      %a.list-group-item-actions{:href => "#"}
                        / Download SVG icon from http://tabler-icons.io/i/star
                        %svg.icon.text-muted{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                          %path{:d => "M0 0h24v24H0z", :fill => "none", :stroke => "none"}
                          %path{:d => "M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"}
                .list-group-item
                  .row.align-items-center
                    .col-auto
                      %span.status-dot.status-dot-animated.bg-green.d-block
                    .col.text-truncate
                      %a.text-body.d-block{:href => "#"} Example 4
                      .d-block.text-muted.text-truncate.mt-n1
                        Regenerate package-lock.json (#29730)
                    .col-auto
                      %a.list-group-item-actions{:href => "#"}
                        / Download SVG icon from http://tabler-icons.io/i/star
                        %svg.icon.text-muted{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                          %path{:d => "M0 0h24v24H0z", :fill => "none", :stroke => "none"}
                          %path{:d => "M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"}
      .nav-item.dropdown
        %a.nav-link.d-flex.lh-1.text-reset.p-0{"aria-label" => "Open user menu", "data-bs-toggle" => "dropdown", :href => "#"}
          %span.avatar.avatar-sm{:style => "background-image: url(./logo.png)"}
          .d-none.d-xl-block.ps-2
            %div Hiep Dinh
            .mt-1.small.text-muted Developer
        .dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
          %a.dropdown-item{:href => "#"} Set status
          %a.dropdown-item{:href => "#"} Profile & account
          %a.dropdown-item{:href => "#"} Feedback
          .dropdown-divider
          %a.dropdown-item{:href => "#"} Settings
          %a.dropdown-item{:href => "#"} Logout