.banner-right-folder{
  display: none;
}

.action-open{
  background: #FF5A33;
  color: #fff;
}

.action-download{
  color: #fff;
  background-color: #0099ff;
}
 .action-copy-direct-link{
  color: #fff;
  background-color: #cd1417;
}

.action-transfer-file, .action-show-transfer-popup{
  color: #fff;
  background-color: #ff9d00;
}

.action-play{
  color: #fff;
  background-color: #44803F;
}

.hide, .hidden {
  display: none;
}

.jquery-modal.blocker{
  z-index: 99999;
}

/* NON-FSHARE PAGE*/
.fshare-tool-popover-title {
  display: none;
}

.fshare-tool-popover .fshare-tool-popover-container  {
  z-index: 999;
}

.fshare-tool-popover .fshare-tool-popover-container .fshare-tool-popover-inner .fshare-tool-popover-content {
  display: flex;
  padding: 5px 15px;
  flex-direction: column;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper {
  display: flex;
  align-items: center;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper .link-description {
  color: #146152;
  font-size: 17px;
  font-family: arial;
}

.fshare-tool-popover-content .fshare-fshare-tool-popover-wrapper .fshare-fshare-tool-popover-btn {
  color: #fff;
  text-decoration: none;
  margin: 5px 5px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Arial';
  cursor: pointer;
}

/* FSHARE FILE PAGE */
#fshare-file-actions-modal {
  width: auto;
  max-width: 800px;
}

#fshare-file-actions-modal ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#fshare-file-actions-modal ul li {
  color: #fff;
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 15px;
  border-radius: 4px;
  font-family: 'Arial';
  cursor: pointer;
}

/* FSHARE FOLDER PAGE */
#fshare-tool-folder-wrapper #navigation {
  padding: 0 25px;
  display: flex;
  list-style: none;
}
#fshare-tool-folder-wrapper #navigation .nav-item {
  padding: 10px;
  background: #146152;
  border-radius: 4px;
  margin-right: 5px;
}

#fshare-tool-folder-wrapper #navigation .nav-item:last-child {
  background: #FF5A33;
}

#fshare-tool-folder-wrapper #navigation .nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#fshare-tool-folder-wrapper #main-content {
  padding: 25px;
}

.fshare-folder-action {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.fshare-folder-action ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fshare-folder-action ul li {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
  margin-left: 5px;
  box-sizing: border-box;
  height: 30px;
  padding: 8px 15px;
  text-align: center;
}
.fshare-folder-action ul li a {
  text-decoration: none;
  color: #fff;
}

#transfer-form-modal{
  width: 80vw;
  max-width: 100%;
  z-index: 999999;
  /* min-height: 40vh; */
  position: relative;
}

#transfer-form-modal * {
  box-sizing: border-box;
}

#transfer-form-modal label {
  display: block;
  margin-bottom: 10px;
}

#transfer-form-modal select, #transfer-form-modal input {
  padding: 1em 0.875em;
  border: 2px solid #dcdcdc;
  border-radius: 4px;
  width: 100%;
  font-weight: 600;
  color: #303030;
}
#transfer-form-modal .full-path {
  font-style: italic;
  margin-bottom: 30px;
  font-size: small;
}

#transfer-form-modal .actions {
  text-align: right;
}

#transfer-form-modal .actions button.action-transfer {
  margin: auto;
  background-color: #ff9d00;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: 1px 2px 4px 0px #00000024;
  font-weight: 600;
  cursor: pointer;
}

#transfer-form-modal #rclone-remote-directories {
  margin-bottom: 20px;
}