.container-xl
  .page-header.d-print-none
    .row.g-2.align-items-center
      .col
        .page-pretitle
          Overview
        %h2.page-title
          Transfers
.page-body
  .container-xl
    .row.row-deck.row-cards
      .col-12
        .card
          .card-header
            %h3.card-title Transfers
          .card-body.py-3
            .d-flex
              .text-muted.ms-auto
                = search_form_for @q do |form|
                  Search:
                  .ms-2.d-inline-block
                    = form.text_field :file_name_cont, placeholder: 'Name', class: 'form-control form-control-sm'
          .table-responsive
            %table.table.card-table.table-vcenter.text-nowrap.datatable
              %thead
                %tr
                  %th{width: 10} Status
                  %th Progess
                  %th.w-1 Actions
              %tbody#rclone_transfer_table_content
                = render 'rclone_transfer_table', rclone_transfers: @rclone_transfers
          .card-footer.d-flex.align-items-center
            %p.m-0.text-muted
              Total
              %span= @rclone_transfers.total_count
              entries
            %ul.pagination.m-0.ms-auto.hide
              %li.page-item.disabled
                %a.page-link{"aria-disabled" => "true", :href => "#", :tabindex => "-1"}
                  %svg.icon{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M0 0h24v24H0z", :fill => "none", :stroke => "none"}
                    %polyline{:points => "15 6 9 12 15 18"}
                  prev
              %li.page-item
                %a.page-link{:href => "#"} 1
              %li.page-item.active
                %a.page-link{:href => "#"} 2
              %li.page-item
                %a.page-link{:href => "#"} 3
              %li.page-item
                %a.page-link{:href => "#"} 4
              %li.page-item
                %a.page-link{:href => "#"} 5
              %li.page-item
                %a.page-link{:href => "#"}
                  next
                  %svg.icon{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M0 0h24v24H0z", :fill => "none", :stroke => "none"}
                    %polyline{:points => "9 6 15 12 9 18"}
%script
  setTimeout(() => location.reload(), 3000);